@media screen and (max-width: 1000px) {
    #lateral_navigation {
        display: none;
    }

    #main_notice {
        width: 100%;
    }

    .primary_bar {
        display: flex;
        flex-wrap: wrap;
    }

    .candidate {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .project {
        margin: 0;
    }

    .user_image {
        width: 190px;
        height: 190px;
    }

    #main_notice h1 {
        font-size: 1.6em;
    }

    .button_header {
        display: none;
    }

    .content{
        width: 100%;
    }

    .primary_navigation li {
        padding: 20px;
    }

    .social_midia{
        display: none;
    }
    
}

@media screen and (max-width: 700px){
    .noticia_secundaria{
        width: 100%;
    }

    .noticia_principal{
        width: 100%;
    }

    .noticia{
        width: 100%;
        height: auto;
        margin: 10px;
    }

    .notice_area{
        display: flex;
        justify-content:center;
    }

    .midia{
        width: 100%;
    }

    .social_midia_footer{
        display: flex;
    }

}

@media screen and (min-width: 1000px){
    .noticia_principal{
        background-repeat: no-repeat;
        background-position: left;
    }
}