* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(236, 236, 236)
}

.cabeçalho {
    width: 100%;
    height: 100%;
    background-color: rgb(189, 238, 235);
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.logo {
    width: 500px;
    padding: 20px 0;
    margin-left: 20px;
    float: left;
}

img {
    width: 100%;
    height: 100%;
}

.button_header {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(255, 0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

.elementos_header {
    height: 180px;
    display: flex;
    align-items: center;
    float: left;
    padding: 20px 0;
    margin: 0 auto;
}

.cabeçalho a {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 900;
}

.primary_navigation li {
    padding: 20px;
    display: inline-block;
}


.primary_navigation a {
    text-decoration: none;
}

.primary_navigation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
    justify-content: space-between;
    width: 100%;
}

.list_element {
    display: block;
}

ul {
    list-style: none;
    margin: 0 auto;
}

.content {
    width: 85%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.social_midia {
    margin-right: 30px;
    display: flex;
    min-width: 200px;
}

.icons {
    width: 30px;
    height: 30px;
    max-width: 30px;
}

#main_notice {
    background-color: rgb(255, 255, 255);
    width: 70%;
    padding: 10px;
}

#main_notice h1 {
    font-family: "trebuchet MS", Helvetica, sans-serif;
}

#secondary_content {
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

#lateral_navigation {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 100px;
    padding: 10px;
}

.main_content {
    display: flex;
}

.imagem {
    width: 100%;
    margin-bottom: 10px;
}

#img_1 {
    border-radius: 20px;
}

.section {
    width: 320px;
    height: auto;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
}

.project_area {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.project {
    margin: 20px 30px 30px 30px;
}

.section_image {
    width: 100%;
}

.primary_bar {
    width: 100%;
    display: flex;
}

.candidate {
    background-color: green;
    width: 50%;
    height: 500px;
    padding: 20px;
    position: left;
    display: table;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin: 5px;
    font-family: Times New Roman, serif;
}

.teste {
    float: right;
}

.user_image {
    width: 150px;
}

.info_candidate {
    display: block;
    text-align: left;
    padding: 10px;
}

.notice_area {
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: auto;
}

.notices {
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.noticia_principal {
    width: 60%;
    height: 350px;
    background-image: url("https://s2.glbimg.com/b4gSjlxE9LHCXEZDTfwc9Fgahqk=/0x0:3264x1468/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2022/v/O/vKOYRuSRi1VTcnqAnkbw/avore-gigante.jpg");
    position: relative;
}

.noticia_secundaria {
    width: 38%;
    height: 350px;
    box-sizing: border-box;
    background-image: url('https://s2.glbimg.com/MXuC7eq0UQ2Geyj2MCx4XRd4VjU=/0x0:1626x1080/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_da025474c0c44edd99332dddb09cabe8/internal_photos/bs/2022/p/T/WqXps6Tzahdq0R9VnyeA/captura-de-tela-2022-10-09-as-18.21.17.png');
    background-position: center;
    position: relative;
}

.noticia {
    margin: 4px;
    background-color: aliceblue;
    width: 240px;
    height: 360px;
    padding: 10px;
    box-sizing: border-box;
}

.title {
    font-size: 35px;
    font-family: Gill Sans, sans-serif;
    background-color: rgb(245, 245, 245);
    padding: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.list_element a {
    text-decoration: none;
    color: black;
    font-family: "trebuchet MS", Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.list_element a:hover {
    text-decoration: none;
    transition: 500ms;
}

.list_element a {
    font-size: 17px;
    font-family: "trebuchet MS", Helvetica, sans-serif;
    transition: 500ms;
}

.section:hover {
    background-color: rgb(207, 207, 207);
    cursor: pointer;
    text-decoration: underline;
}

li:hover {
    background-color: rgb(199, 199, 199);
    transition: 500ms;
}

li {
    transition: 500ms;
}


footer {
    width: 100%;
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
    position: absolute;
}

.previa_noticia {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.486);
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.texto_previo {
    font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    padding: 10px;
}

.paragrafo_previo {
    display: none;
    font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.noticia_principal:hover .paragrafo_previo {
    display: block;
}

.biografia_area {
    padding: 10px;
}

.midia {
    width: 600px;
    height: 330px;
    float: left;
    margin: 0 10px 10px 0;
    display: flex;
}

.biografia_area h3 {
    font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #404040;
    font-size: 1.65em;
    padding: 10px 0px;
}

.style_paragrafo {
    font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #404040;
    font-size: 1.20em;
}

.paragrafo_noticia {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
}

.titulo_noticia{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.28em;
}

.title_style {
    font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #404040;
    font-size: 1.65em;
    padding: 10px 0px;
}

h1{
    font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    padding: 0px 0px 10px 0px;
}

.fala_candidato{
    font-family: Roboto, system-ui, -apple-system, Segoe UI, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1em;
}

.social_midia_footer{
    margin-right: 30px;
    display: flex;
    min-width: auto;
    position: relative;
    right: 0px;
    margin: 0px 50px;
    display: none;
}